In [11]:
import pandas as pd, numpy as np, seaborn as sns, matplotlib.pyplot as plt, sys
sys.path.insert(0, "/Users/lili/dropbox_lili/common_functions/outlier_analysis/")
import blackSheepCPTACmodule as ol

In [12]:
import importlib
importlib.reload(ol)

In [14]:
test_table = np.array([[0, np.nan, 1, 2, 10],
                      [1, 2, 1, 40, 3],
                      [0, 2, 50, np.nan, 1],
                      [0, -2, -3, 45, 90],
                      [-1, -2, -3, 10, 5]])
cols = ['sampA', 'sampB', 'sampC', 'sampD', 'sampE']
index = ['gene1-psite1', 'gene1-psite2', 'gene2-psite1', 'gene3-psite1', 'gene4-psite1']
test_table = pd.DataFrame(test_table, columns=cols, index=index).transpose()

In [15]:
test_table

       gene1-psite1  gene1-psite2  gene2-psite1  gene3-psite1  gene4-psite1
sampA           0.0           1.0           0.0           0.0          -1.0
sampB           NaN           2.0           2.0          -2.0          -2.0
sampC           1.0           1.0          50.0          -3.0          -3.0
sampD           2.0          40.0           NaN          45.0          10.0
sampE          10.0           3.0           1.0          90.0           5.0

# Making the outliers table
##### Note--frac_table is useful for visualization but is not used for statistics.

In [16]:
help(ol.make_outliers_table)

Help on function make_outliers_table in module blackSheepCPTACmodule:

make_outliers_table(df, iqrs=1.5, up_or_down='up', aggregate=True, frac_table=False)

In [17]:
# With all of the default parameters
outliers = ol.make_outliers_table(test_table,iqrs=1.5, up_or_down='up', aggregate=True, frac_table=False)
outliers

agg_col            gene1  gene2  gene3  gene4
sampA_notOutliers    2.0    1.0    1.0    1.0
sampB_notOutliers    1.0    1.0    1.0    1.0
sampC_notOutliers    2.0    0.0    1.0    1.0
sampD_notOutliers    1.0    0.0    1.0    0.0
sampE_notOutliers    1.0    1.0    0.0    1.0
sampA_outliers       0.0    0.0    0.0    0.0
sampB_outliers       0.0    0.0    0.0    0.0
sampC_outliers       0.0    1.0    0.0    0.0
sampD_outliers       1.0    0.0    0.0    1.0
sampE_outliers       1.0    0.0    1.0    0.0

In [21]:
# Aggregation off, and a fraction outliers table for visualization
outliers, frac_table = ol.make_outliers_table(test_table,iqrs=1.5, up_or_down='up', aggregate=False, frac_table=True)
outliers

,gene1-psite1,gene1-psite2,gene2-psite1,gene3-psite1,gene4-psite1
sampA_outliers,0.0,0.0,0.0,0.0,0.0
sampB_outliers,NaN,0.0,0.0,0.0,0.0
sampC_outliers,0.0,0.0,1.0,0.0,0.0
sampD_outliers,0.0,1.0,NaN,0.0,1.0
sampE_outliers,1.0,0.0,0.0,1.0,0.0
sampA_notOutliers,1.0,1.0,1.0,1.0,1.0
sampB_notOutliers,NaN,1.0,1.0,1.0,1.0
sampC_notOutliers,1.0,1.0,0.0,1.0,1.0
sampD_notOutliers,1.0,0.0,NaN,1.0,0.0
sampE_notOutliers,0.0,1.0,1.0,0.0,1.0

In [12]:
frac_table

       gene1-psite1  gene1-psite2  gene2-psite1  gene3-psite1  gene4-psite1
sampA           0.0           0.0           0.0           0.0           0.0
sampB           NaN           0.0           0.0           0.0           0.0
sampC           0.0           0.0           1.0           0.0           0.0
sampD           0.0           1.0           NaN           0.0           1.0
sampE           1.0           0.0           0.0           1.0           0.0

In [28]:
# Fraction table with aggreagation
frac_table = ol.make_outliers_table(test_table,iqrs=1.5, up_or_down='up', aggregate=True, frac_table=True)[1]
frac_table

agg_col  gene1  gene2  gene3  gene4
sampA      0.0    0.0    0.0    0.0
sampB      0.0    0.0    0.0    0.0
sampC      0.0    1.0    0.0    0.0
sampD      0.5    NaN    0.0    1.0
sampE      0.5    0.0    1.0    0.0

# Comparing different groups using outliers

In [33]:
labels = np.array([[0, 0, 0, 1, 1], [0, 1, 0, 1, 0]]).transpose()
annotations = pd.DataFrame(labels, index=cols, columns=['comparison1', 'comparison2'])
annotations

       comparison1  comparison2
sampA            0            0
sampB            0            1
sampC            0            0
sampD            1            1
sampE            1            0

In [39]:
# Without aggregating psites
outliers = ol.make_outliers_table(test_table,iqrs=1.5, up_or_down='up', aggregate=False, frac_table=False)
results = ol.compare_groups_outliers(outliers, annotations)
results

Testing 1 rows for enrichment in comparison1 0 samples
Testing 4 rows for enrichment in comparison1 1 samples
Testing 3 rows for enrichment in comparison2 0 samples
Testing 2 rows for enrichment in comparison2 1 samples

,comparison1_0_enrichment_FDR,comparison1_1_enrichment_FDR,comparison2_0_enrichment_FDR,comparison2_1_enrichment_FDR
gene1-psite1,NaN,1.000000,1.0,NaN
gene1-psite2,NaN,0.533333,NaN,0.4
gene2-psite1,1.0,NaN,1.0,NaN
gene3-psite1,NaN,0.533333,1.0,NaN
gene4-psite1,NaN,0.533333,NaN,0.4

In [40]:
# With aggregating psites
outliers = ol.make_outliers_table(test_table,iqrs=1.5, up_or_down='up', aggregate=True, frac_table=False)
results = ol.compare_groups_outliers(outliers, annotations)
results

Testing 1 rows for enrichment in comparison1 0 samples
Testing 3 rows for enrichment in comparison1 1 samples
Testing 2 rows for enrichment in comparison2 0 samples
Testing 2 rows for enrichment in comparison2 1 samples

,comparison1_0_enrichment_FDR,comparison1_1_enrichment_FDR,comparison2_0_enrichment_FDR,comparison2_1_enrichment_FDR
gene1,NaN,0.4,NaN,1.0
gene2,1.0,NaN,1.0,NaN
gene3,NaN,0.4,1.0,NaN
gene4,NaN,0.4,NaN,0.8